<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SmsSender</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <script type="application/javascript" src="https://code.jquery.com/jquery-2.2.3.js"></script>
    <script type="application/javascript"
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,700' rel='stylesheet' type='text/css'>
    <link rel=stylesheet type="text/css" href="/css/app.css">
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#navbar-hamburger"
                        aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">SmsSender</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-hamburger">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="http://flowgrammer.net/ota/FlowSmsSender/FlowSmsSender.apk">Android App Install</a></li>
                    <% if (!currentUser) { %>
                        <li><a href="/login">Login</a></li>
                        <li><a href="/register">Sign Up</a></li>
                    <% } else { %>
                        <li><a href="#">Signed as <%= currentUser.username %></a></li>
                        <li><a href="/logout">Logout</a></li>
                    <% } %>

                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <% if(error && error.length > 0) { %>
        <div class="alert alert-danger"><p><%= error %></p></div>
        <% } %>

        <% if(success && success.length > 0) { %>
        <div class="alert alert-success"><p><%= success %></p></div>
        <% } %>
    </div>

