<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>RememberIt</title>
    <link rel="stylesheet" href="/public/vendors/css/normalize.css">
    <link rel="stylesheet" href="/public/vendors/css/foundation.css">
    <link rel="icon" type="image/png" href="/public/favicon.png">

    <link rel="stylesheet" href="/public/resources/css/landing.css">
    <script type="application/javascript" src="https://code.jquery.com/jquery-2.2.3.js"></script>

</head>
<body>
<header id="site-header">
    <h1 class="header-title">Remember It</h1>
    <p class="header-description">Remember everything.</p>
    <div class="header-menu">
        <ul>
            <li>
                <a href="/SignIn">Sign in</a>
            </li>
            <li>
                <a href="/SignUp">Sign up</a>
            </li>
        </ul>
    </div>
</header>
<div class="landing-body">
    <img src="/public/resources/img/landing01.jpeg" alt="landing image">
    <div class="landing-title">
        <h1>Remeber It</h1>
    </div>
</div>

<div class="footer">
    <div class="row">
        <!--<div class="medium-4 large-4 columns">-->
            <!--<p>-->
                <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis tempus, ligula eu gravida dapibus, ex-->
                <!--sapien condimentum felis, ac iaculis nisl quam nec neque. Integer imperdiet interdum ligula eget-->
                <!--tincidunt. Sed feugiat blandit cursus. Curabitur at mauris augue. Morbi bibendum diam dignissim mauris-->
                <!--posuere, eget venenatis justo fringilla. Phasellus quis nunc malesuada, ultrices odio a, consequat nunc.-->
                <!--Aliquam risus augue, scelerisque in commodo et, tincidunt in justo.-->
                <!--Proin augue neque, mollis ac mauris at, aliquam eleifend nunc. Vestibulum ac neque purus. Aliquam-->
                <!--maximus neque massa, ac convallis odio rutrum at. Vestibulum vulputate quam non ullamcorper vehicula.-->
                <!--Integer ornare turpis eu egestas sagittis. Nulla sollicitudin ultricies nisl, eu sollicitudin mauris-->
                <!--fringilla eu. Curabitur pulvinar dignissim efficitur. Quisque nulla ex, ullamcorper quis arcu id, mattis-->
                <!--scelerisque augue. Integer luctus arcu suscipit nisl congue, in ultricies leo sagittis. Nunc vel turpis-->
                <!--eros.-->
            <!--</p>-->
        <!--</div>-->
        <div class="medium-8 large-8 columns">
            <!--<div class="medium-6 large-6 columns">-->
                <!--<p>-->
                    <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis tempus, ligula eu gravida dapibus, ex-->
                    <!--sapien condimentum felis, ac iaculis nisl quam nec neque. Integer imperdiet interdum ligula eget-->
                    <!--tincidunt. Sed feugiat blandit cursus. Curabitur at mauris augue. Morbi bibendum diam dignissim mauris-->
                    <!--posuere, eget venenatis justo fringilla. Phasellus quis nunc malesuada, ultrices odio a, consequat nunc.-->
                    <!--Aliquam risus augue, scelerisque in commodo et, tincidunt in justo.-->
                    <!--Proin augue neque, mollis ac mauris at, aliquam eleifend nunc. Vestibulum ac neque purus. Aliquam-->
                    <!--maximus neque massa, ac convallis odio rutrum at. Vestibulum vulputate quam non ullamcorper vehicula.-->
                    <!--Integer ornare turpis eu egestas sagittis. Nulla sollicitudin ultricies nisl, eu sollicitudin mauris-->
                    <!--fringilla eu. Curabitur pulvinar dignissim efficitur. Quisque nulla ex, ullamcorper quis arcu id, mattis-->
                    <!--scelerisque augue. Integer luctus arcu suscipit nisl congue, in ultricies leo sagittis. Nunc vel turpis-->
                    <!--eros.-->
                <!--</p>-->
            <!--</div>-->
            <div class="medium-6 large-6 columns company-info">
                <div>
                    <ul>
                        <li>
                            email me
                        </li>
                        <li>
                            contact us
                        </li>
                        <li>
                            troubleshooting
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

</div>

</body>
</html>