#wrapper {
    overflow: hidden;
    z-index: 1000;
}
#main-content {
    /*background-color: yellow;*/
    margin-top: 30px;
}
a { color: inherit; }
.card-container {
    box-sizing: border-box;
    height: 360px;
    padding: 0;
    position: relative;
    /*background-color: yellow;*/
}

.card-close-btn {
    position: absolute;
    right: 5px;
    top: 5px;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.card-link {
    position: absolute;
    /*background-color: #3adb76;*/
    /*right: 20px;*/
    left:30px;
    width:80%;
    bottom: 15px;
}
.card-link a {
    text-decoration: none;
    float: left;
    border: 1px solid #73AD21;
    border-radius: 9px;
    padding: 5px;
    text-decoration: none;
    background-color: #73AD21;
    color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.card-link a:hover {
    background-color: white;
    color: #73AD21;
}

.card {
    border: 1px solid #73AD21;
    border-radius: 25px;
    padding: 0;
    margin: 20px 20px 50px 20px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-decoration: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.card-title {
    display: block;
    position: relative;
    width: 100%;
    height: 15%;
    background-color: #73AD21;
    font-size: 17px;
    color: white;
    text-align: center;
    vertical-align: middle;
}

.card-title-content {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

.card-title-edit {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(0, -50%);
}

.card-title-jargon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(0, -50%);
}

.card-desc {
    display: block;
    position: relative;
    background-color: #ffffff;
    height: 60%;
    width: 100%;
    color: #87838a;
}

.card-desc-content {
    padding: 10px;
    white-space: pre-wrap;
}

.card-desc-block {
    position: absolute;
    top : 0;
    left : 0;
    right: 0;
    bottom: 0;
    background-color: #fefefe;
    text-align: center;
}
.card-desc-block p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hidden {
    /*         	display : none; */
    opacity: 0;
}

.card-bottom-content {
    position: relative;
    bottom: 0;
    height: 25%;
    width: 100%;
    background-color: #cccfcf;
}

.card-created {
    position: absolute;
    left: 10px;
    top: 10px;
    color: #474747;

}

.card-state-div {
    position: absolute;
    left:10px;
    right:10px;
    bottom: 0px;
    height:60%;
}

.card-state-inner-div {
    position: relative;
    width: 100%;
    height: 100%;
    /*background-color: #3adb76;*/
}

.card-state {
    display: none;
    position: absolute;
    left: 0px;
    top: 10px;
    /*background-color: #693fdb;*/
}

.card-forget-check-div {
    position: absolute;
    left: 0;
    top: 10px;
    width: 25%;
    /*background-color: #693fdb;*/
    display: block;
    float: left;
    height: 20px;
}

.card-remember-check-div {
    position: absolute;
    right: 0px;
    top: 10px;
    width: 40%;
    /* background-color: #693fdb; */
}
.card-check-text {
    /*background-color: #db2d33;*/
    display: block;
    position: absolute;
    left: 0;
    top: 0px;
    color: #474747;

}

/*.card-check-box {*/
/*position: absolute;*/
/*right:20px;*/
/*top : 10px;*/

/*}*/

.card-forget-check-box {
    display: block;
    position: absolute;
    top : 10px;
    right: 0px;
    /*background-color: #d4db1f;*/
    transform: translate(-10%, -60%);

}

.card-remember-check-box {
    display: block;
    position: absolute;
    top : 10px;
    right: 0px;
    /*background-color: #d4db1f;*/
    transform: translate(-10%, -60%);

}

.memorized {
    opacity: .5;
    pointer-events: none;
}
